#right {
    background: #a3d8f4;
    width: 50%;
    float: left;
}

#left {
    background: #fadcaa;
    width: 50%;
    float: left;
}

body {
    background: #D0BFFF;
}

#heading1 {
    background: #8970d4;
    padding: 0.5rem;
    font-size: x-large;
}

#text1 {
    font-weight: bold;
}

.tron {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #fff;
    font-family: Open Sans;
    font-size: 26px;
    font-weight: 100;
    padding: 15px;
    background-color: #7F27FF;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #9F70FD 7px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    float: right;
}

.tron:hover {
    background: #9F70FD;
    border: solid #7F27FF 5px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-decoration: none;
}

#table1 {
    padding: 1rem;
    float: left;
    width: 31%;
}

#table2 {
    padding: 1rem;
    float: left;
    width: 31%;
}

#table3 {
    padding: 1rem;
    float: left;
    width: 31%;
}

caption {
    margin-top: 1rem;
}

.Green3D {
    background: #9F70FD;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 0;
    line-height: 0;
    color: #FFFFFF;
    font-family: Verdana;
    width: 88px;
    font-size: 21px;
    font-weight: 500;
    padding: 20px;
    -webkit-box-shadow: 0 4px 0 2px #000000;
    -moz-box-shadow: 0 4px 0 2px #000000;
    box-shadow: 0 4px 0 2px #000000;
    text-shadow: 1px 1px 5px #000000;
    border: solid #0D772A 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.Green3D:hover {
    background: #6528F7;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}

#buttons {
    margin-top: 6rem;
    padding-left: 13%;
}

#b1 {
    width: 25%;
    float: left;
}

#b2 {
    width: 25%;
    float: left;
}

#b3 {
    width: 25%;
    float: left;
}

#b4 {
    width: 25%;
    float: left;
}

#configs {
    width: 50%;
    margin-top: 1.5rem;
    margin-left: 25%;
    border-color: #9B86BD;
    border-width: 5px;
    text-align: center;
    border-style: inset;
    border-radius: 10%;
}
